* {
    font-family: "Verdana", "Arial", "sans-serif";
    box-sizing: border-box;
    font-size: 16px;
}

/* #region Navigation Bar */
nav {
    overflow: hidden;
    margin-top: -8px;
    margin-left: -8px;
    margin-bottom: 16px;
}

nav a {
    float: left;
    color: white;
    background-color: #333;
    padding: 16px;
    margin: 0;
    text-decoration: none;
    transition-duration: 0.4s;
}

nav a:hover:not(.active) {
    background-color: #191414;
}

.active {
    background-color: #1DB954;
}
/* #endregion */

p {
    width: fit-content;
}

.text {
    padding: 16px 32px;
    margin: 4px 2px;
    
    background-color: white;
    border: 2px solid #1DB954;
    border-radius: 10px;
}

/* #region Buttons */
button {
    padding: 16px 32px;
    margin: 4px 2px;
    display: inline-block;
    font-size: 16px;
    color: #191414; 
    background-color: white;
    border: 2px solid #1DB954;
    border-radius: 10px;
    transition-duration: 0.4s;
    cursor: pointer;
}
  
  button:hover {
    background-color: #1DB954;
}
/* #endregion */

input[type=text] {
    padding: 16px 32px;
    margin: 4px 2px;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    background-color: white;
    border: 2px solid #1DB954;
    border-radius: 10px;
    outline: none;
    cursor: text;
}