* {
    font-family: "Verdana", "Arial", "sans-serif";
    box-sizing: border-box;
    font-size: 16px;
    color: black;
}


/* #region Navigation Bar */
nav {
    overflow: hidden;
    margin: -8px -8px 4px;
}

nav a {
    padding: 16px;
    margin: 0;
    float: left;
    color: white;
    background-color: #333;
    text-decoration: none;
    transition-duration: 0.4s;
}

nav a:hover:not(.active) {
    background-color: #191414;
}

nav .active {
    background-color: #1DB954;
}
/* #endregion */


/* #region Buttons */
button {
    padding: 16px 32px;
    margin: 4px 0px;
    background-color: white;
    border: 2px solid #1DB954;
    border-radius: 10px;
    transition-duration: 0.4s;
    cursor: pointer;
}
  
  button:hover {
    background-color: #1DB954;
}

button[disabled] {
    color: gray;
    background-color: lightgray;
    border: 2px solid lightgray;
    cursor: not-allowed;
}
/* #endregion */


/* #region Tabs */
#tabs {
    overflow: hidden;
}

#tabs button {
    padding: 16px;
    margin: 4px 0;
    float: left;
    color: white;
    background-color: #333;
    border: none;
    border-radius: 0;
    transition-duration: 0.4s;
}

#tabs button:hover:not(.activeTab):not([disabled]) {
    background-color: #191414;
}

#tabs .activeTab {
    background-color: #1DB954;
}

#tabs button[disabled] {
    color: gray;
    background-color: lightgray;
    cursor: not-allowed;
}
/* #endregion */


/* #region Slider */
.slider {
    margin: 16px 0;
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 500px;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3; /* Grey background */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    border-radius: 50%;
    background: #1DB954; /* Green background */
    cursor: pointer; /* Cursor on hover */
}
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    border-radius: 50%;
    background: #1DB954; /* Green background */
    cursor: pointer; /* Cursor on hover */
}
/* #endregion */


.border {
    padding: 16px 32px;
    margin: 4px 0px;
    border: 2px solid #1DB954;
    border-radius: 10px;
}